/build
/coverage
/node_modules
/vendor
composer.lock
.php_cs.cache
phpstan.neon
.phpunit.result.cache
tests/stubs/Controllers/GitConflictController.php
package-lock.json
.php-cs-fixer.cache
.idea
.env
