.avatar {
    @apply grid;
    @apply place-center;
    @apply h-8;
    @apply w-8;
    @apply no-underline;
}

.avatar-img {
    @apply absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    max-width: none;
    height: calc(100% + 2px);
    object-fit: cover;
}

.avatar-user {
    @apply border-2;
    @apply border-tint-600;
    @apply bg-white;
    @apply rounded-full;
    @apply overflow-hidden;
}

.avatar-user .avatar-img {
    @apply rounded-full;
    @apply overflow-hidden;
}

.avatar-team {
    @apply border;
    @apply border-tint-300;
    @apply bg-tint-200;
    @apply text-tint-700;
    @apply rounded-full;
    @apply overflow-hidden;
}

.avatar-text {
    @apply font-semibold;
    @apply uppercase;
    @apply no-underline;
    font-size: 0.8em;
}

.avatar-sm {
    @apply w-6;
    @apply h-6;
    @apply text-sm;
}

.avatar-xs {
    @apply w-4;
    @apply h-4;
    @apply text-sm;
}
