.docs-sidebar {
    @apply hidden;
    @apply px-4;
    @apply py-6;
    @apply text-gray-700;
    @apply bg-gray-100;
    @apply rounded-sm;
}

@screen sm {
    .docs-sidebar {
        @apply block;
        /*      @apply max-h-screen; */
        /*      @apply overflow-y-auto; */
    }
}

.docs-sidebar-toggle:checked ~ .docs-sidebar {
    @apply block;
}

.docs-sidebar-button-hide {
    @apply hidden;
}

.docs-sidebar-toggle:checked + .docs-sidebar-button .docs-sidebar-button-hide {
    @apply block;
}

.docs-sidebar-toggle:checked + .docs-sidebar-button .docs-sidebar-button-show {
    @apply hidden;
}

.docs-menu {
    @apply grid;
    @apply gap-4;
    @apply text-sm;
}

.docs-menu ul {
    @apply grid;
    @apply gap-4;
    @apply pl-3;
    @apply my-3;
    @apply border-l-2;
    @apply border-gray-500;
    @apply text-gray-600;
}

.docs-menu a:hover {
    @apply text-purple-500;
}

.docs-menu li.active h2 {
    @apply font-semibold;
}

.docs-menu ul li {
    @apply leading-tight;
}

.docs-menu ul li.active {
    @apply text-purple-500;
}

.docs-content pre {
    @apply p-6;
    @apply overflow-x-auto;
    font-size: 14px;
    line-height: 1.9;
}

.docs-content pre::-webkit-scrollbar,
.docs-content pre::-webkit-scrollbar-corner {
    width: 4px;
    height: 4px;
}

.docs-content pre::-webkit-scrollbar-track {
    @apply bg-white;
}

.docs-content pre::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
    border-radius: 2px;
}

.docs-content img,
.docs-content pre {
    @apply border;
    @apply my-6;
    @apply shadow;
}

.docs-content :not(pre) > code {
    @apply bg-gray-100;
    @apply border;
    @apply p-px;
    @apply rounded-sm;
    @apply text-purple-700;
    font-size: 14px;
}

.docs-content .hljs {
    overflow-x: initial;
}

.docs-content table {
    @apply border-collapse;
    @apply border-t;
    @apply border-b;
    @apply border-tint-300;
    @apply w-full;
    @apply text-sm;
    @apply my-6;
}

.docs-content table thead tr {
    @apply bg-tint-100;
    @apply text-tint-500;
    @apply border-b;
    @apply border-tint-200;
    font-size: 0.875em;
}

.docs-content table th,
.docs-content table td {
    @apply py-2;
    @apply px-1;
}

@screen sm {
    .docs-content table th,
    .docs-content table td {
        @apply px-2;
    }
}

.docs-content table th {
    @apply text-left;
    @apply font-normal;
    @apply whitespace-nowrap;
    @apply tracking-wider;
    @apply uppercase;
    @apply text-xs;
}

.docs-content table tbody tr {
    @apply border-t;
    @apply border-tint-100;
}

.docs-content table thead .th-numeric,
.docs-content table tbody .td-numeric {
    @apply text-right;
    @apply variant-tabular;
}

.docs-submenu-item {
    @apply text-sm;
    @apply text-gray-700;
}

.docs-submenu-item.is-active {
    @apply text-purple-500;
}

.docs-switcher {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.25rem;
    @apply text-center;
    @apply bg-gray-200;
    @apply shadow-input;
    @apply rounded-full;
    @apply p-1;
}

.docs-switcher li {
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply text-gray-500;
    @apply z-10;
}

.docs-switcher li a {
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply h-10;
    @apply px-3;
    @apply font-semibold;
    @apply text-xs;
    @apply uppercase;
    @apply tracking-widest;
    @apply w-full;
}

.docs-switcher li.active {
    @apply text-purple-500;
    @apply z-20;
}

.docs-switcher li:after {
    content: '';
    @apply absolute;
    @apply rounded-full;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    @apply bg-white;
    @apply border-b;
    @apply border-gray-200;
    @apply text-black;
    z-index: -1;
    transition: background 0.3s, transform 0.3s, opacity 0.3s;
    opacity: 0;
}

.docs-switcher li.active:after {
    opacity: 1;
}

.docs-switcher li:first-child.active + li:after {
    transform: translateX(-100%);
    opacity: 0;
}

.docs-switcher li:first-child:not(.active):after {
    transform: translateX(100%);
    opacity: 0;
}

.docs-switcher li:first-child:not(.active):hover:after,
.docs-switcher li:first-child.active + li:hover:after {
    transform: translateX(0);
    @apply bg-gray-100;
    opacity: 1;
}
