@layer components {
    .input-group {
        @apply grid;
        @apply gap-4;
    }

    .input-group [role='combobox'] {
        @apply w-full;
    }

    .input {
        @apply bg-tint-50;
        @apply border;
        @apply border-tint-200;
        @apply w-full;
        @apply max-w-full;
        @apply min-h-10;
        @apply px-2;
        @apply rounded-sm;
        @apply shadow-input;
        @apply text-gray-800;
    }

    .input-textarea {
        min-height: 8rem;
        @apply py-2;
    }

    .input-search {
        @apply pl-4;
        @apply pr-8;
        @apply bg-tint-50;
        @apply rounded-full;
    }

    input:disabled {
        @apply opacity-50;
        @apply cursor-not-allowed;
    }

    input:read-only {
        @apply bg-white;
    }

    .input:hover {
        @apply border-tint-300;
    }

    .input-focus,
    .input:focus {
        @apply border-tint-300;
        @apply outline-none;
        @apply bg-white;
        @apply shadow-focus;
    }

    .input-xs {
        width: 4rem;
    }

    .input-sm {
        width: 9rem;
    }

    .input-md {
        width: 14rem;
    }

    .input-lg,
    .input-xl,
    .input-full {
        width: 100%;
    }

    .input-error {
        @apply bg-red-100;
        @apply border-red-200;
    }

    .input-note {
        @apply text-xs;
        @apply text-tint-500;
    }

    @screen lg {
        .input-group {
            @apply flex;
            @apply items-start;
            @apply justify-start;
            order: 2;
        }

        .input-group > *:not(:last-child) {
            @apply mr-4;
        }

        .input-lg {
            width: 19rem;
        }

        .input-xl {
            width: 24rem;
        }

        .input-note {
            @apply col-start-2;
            order: 3;
        }
    }
}
