.radio-group {
    @apply grid;
    @apply gap-2;
}

@screen sm {
    .radio-group {
        @apply mt-2;
    }
}

.radio-group label {
    @apply grid;
    @apply justify-start;
    @apply grid-cols-auto;
    @apply grid-flow-col;
    @apply gap-4;
    @apply min-h-0;
    @apply cursor-pointer;
    @apply text-gray-800;
}

.radio {
    width: 1.5em;
    height: 1.5em;
    @apply border-none;
    @apply appearance-none;
}

.radio:before {
    @apply absolute;
    @apply top-0;
    @apply left-0;
    width: 1.5em;
    height: 1.5em;
    @apply border;
    @apply border-tint-200;
    @apply bg-gray-50;
    @apply rounded-full;
    @apply shadow-input;
    @apply overflow-hidden;
    content: '';
}

.radio:after {
    @apply absolute;
    top: 0.375em;
    left: 0.375em;
    width: 0.75em;
    height: 0.75em;
    @apply rounded-full;
    @apply bg-purple-500;
    content: '';
    transition: transform 0.1s;
    transform: scale(0);
}

.radio:focus,
.radio:hover {
    @apply outline-none;
}

.radio:focus:before {
    @apply border-tint-400;
}

.radio:hover:before {
    @apply border-tint-300;
}

.radio:checked:after {
    transform: scale(1);
}
