.select-arrow {
    @apply pointer-events-none;
    @apply absolute;
    @apply top-0;
    @apply right-0;
    @apply grid;
    @apply place-center;
    @apply w-8;
    @apply h-full;
    @apply text-tint-500;
}

.select select {
    @apply input;
    -webkit-appearance: none;
    appearance: none;
    @apply shadow-select;
    @apply pr-8;
    @apply h-full;
    @apply min-h-0;
    @apply text-gray-800;
}

.select select:focus {
    @apply border-tint-300;
    @apply outline-none;
    @apply bg-white;
    @apply shadow-focus;
}

select:disabled {
    @apply opacity-50;
    @apply cursor-not-allowed;
}
