.sidebar {
    @apply bg-gray-700;
    @apply rounded-sm;
    @apply px-4;
    @apply pt-6;
    @apply pb-12;
    @apply shadow;
}

.sidebar-transparent {
    @apply py-6;
}

.sidebar-title {
    @apply flex;
    @apply items-center;
    @apply font-semibold;
    @apply uppercase;
    @apply text-gray-500;
    @apply text-xs;
    @apply tracking-wider;
    @apply h-8;
}

.sidebar-item {
    @apply inline-flex;
    @apply items-center;
    @apply -mx-2;
    @apply px-2;
    @apply py-1;
    @apply text-white;
    @apply no-underline;
    @apply max-w-full;
    @apply truncate;
}

.sidebar-item:hover {
    @apply bg-tint-50;
    @apply text-gray-200;
}

.sidebar-item-active,
.sidebar-item-active:hover {
    @apply font-semibold;
}

.sidebar-icon {
    @apply inline-block;
    @apply w-4;
    @apply mr-3;
    @apply text-center;
    @apply text-sm;
    @apply text-gray-500;
}

.sidebar-item-active .sidebar-icon {
    @apply text-green-400;
}

.sidebar-submenu {
    @apply ml-2;
    @apply pl-5;
    @apply border-l-2;
    @apply border-gray-600;
    @apply leading-none;
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
    left: -2px;
}

.sidebar-submenu li:not(:last-child) {
    @apply mb-1;
}
