name: Run tests

on: [push, pull_request]

jobs:
    php-tests:
        runs-on: ${{ matrix.os }}

        strategy:
            fail-fast: false
            matrix:
                php: [8.1, 8.2, 8.3]
                laravel: [10.*]
                stability: [prefer-lowest, prefer-stable]
                os: [ubuntu-latest, windows-latest]

        name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }} - ${{ matrix.os }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  extensions: mbstring, fileinfo
                  coverage: none
                  tools: composer:v2

            - name: Get composer cache directory
              id: composer-cache
              run: echo "::set-output name=dir::$(composer config cache-files-dir)"

            - name: Cache composer dependencies
              uses: actions/cache@v3
              with:
                  path: ${{ steps.composer-cache.outputs.dir }}
                  key: ${{ matrix.os }}-php-${{ matrix.php }}-laravel-${{ matrix.laravel }}-composer-${{ matrix.stability }}-${{ hashFiles('**/composer.json') }}
                  restore-keys: ${{ matrix.os }}-php-${{ matrix.php }}-laravel-${{ matrix.laravel }}-composer-${{ matrix.stability }}-

            -  name: Install dependencies
               run: |
                    composer require "laravel/framework:${{ matrix.laravel }}" "nesbot/carbon:^2.62.1" --no-interaction --no-update
                    composer update --${{ matrix.stability }} --prefer-dist --no-interaction --no-suggest

            - name: Execute tests
              run: vendor/bin/pest

